/project2/data
/project2/notebooks
.ipynb*
*.pyc
/project2/results
/project3/data
*.model
*.jar
/project3/mate
/project3/parse
/project3/nlp-intermediates
/project3/output
*.gz
/project3/data*
/project3/files
/project3/libraries
/project3/old
/project3/notebooks
/project3/translations
/project3/models