/project2/data
/project2/notebooks
.ipynb*
*.pyc
/project2/results
/project3/data
*.model
*.jar
/project3/mate
/project3/parse
/project3/nlp-intermediates
/project3/output
/project3/test
*.gz
/project3/dev
